.fourth__section{
  height: 800px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 120px 0;
}
.fourth__row__1 {
  width: $container__big__width;
  height: 42px;
  margin-bottom: 50px;
}
.fourth__section__title {
  @include section-title;
  text-align: center;
}
.box__both{
  border-radius: 18px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box__4-1{
  width: 372px;
  height: 461px;
}
.box__4-2{
  width: 405px;
  height: 500px;
  box-shadow: 5px 10px 27px #07ACE629;
}
.box__basic{
  border-color: #FB3B64;
  color: #FB3B64;
}
.box__prof{
  border-color: #07ACE6;
  color: #07ACE6;
}
.box__premium{
  border-color: #55DFB4;
  color: #55DFB4;
}
.fourth__section__header{
  margin-top: 34px;
  margin-bottom: 20px;
  font-family: var(--Raleway-font);
  color: #13253B;
  font-size: 20px;
  font-weight: 600;
}
.price__value{
  font-family: var(--OpenSans-font);
  font-size: 46px;
  font-weight: 300;
}
.addition__text{
  margin-top: 10px;
  font-family: var(--Raleway-font);
  color: #13253B;
  font-size: 12px;
  font-weight: 700;
}
.empty{
  opacity: 0;
}
.properties{
  margin-top: 55px;
  text-align: center;
}
.property{
  font-family: var(--OpenSans-font);
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 0;
}
.btn{
  font-family: var(--OpenSans-font);
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 600;
  border-radius: 23px;
  border: 0px;
  padding: 16px 0;
}
.btn__side{
  margin-top: 38px;
  width: 150px;
  background-color: #EB476E;
}
.btn__middle{
  margin-top: 78px;
  width: 165px;
  background-color: #07ACE6;
  box-shadow: 5px 10px 14px #07ACE629;
}
.btn__last{
  background-color: #55DFB4;
}
