.nav__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 2px 0 #00000029;
  height: 70px;
}
.nav__logo{
  font-family: var(--Raleway-font);
  font-size: 32px;
  color: #08A6E4;
  margin: 0 7%;
}
.nav__menu{
  display: flex;
  justify-content: flex-end;
  margin: 0 7%;
}
.nav__item{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 15px;
}
.nav__link{
  padding: 30px;
  font-family: var(--OpenSans-font);
  font-size: 11px;
  color: gray;
  text-align: center;
  letter-spacing: 1px;
}
.distinction__link{
  color: #000000;
  font-weight: 700;
  &:before {
    content: "";
    height: 3px;
    width: 50px;
    background-color: #08A6E4;
    position: absolute;
    margin-top: 40px;
  }
}
