.footer{
  height: 89px;
  background-color: #F7F7F7;
  box-shadow: 0px -5px 40px #00000029;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 137px;
}
.last__logo{
  font-family: var(--Raleway-font);
  font-size: 26px;
  color: #08A6E4;
}
.last__paragraph{
  margin-top: 7px;
  font-family: var(--OpenSans-font);
  font-size: 11px;
  color: #A5A5A5;
}
.icons{
  display: flex;
}
.last_icon_1{
  content: url("../images/Twitter.png");
  height: 24px;
  width: 24px;
  margin: 0 20px 0 0;
}
.last_icon_2{
  content: url("../images/Facebook.png");
  height: 24px;
  width: 24px;
}
