@mixin grid($cols) {
  //@include tablet {
    display: flex;
    //flex-wrap: wrap;
    @for $i from 1 through $cols {
      .col-#{$i} {
        flex: 0 0 (100% / $cols) * $i;
      }
    }
  //}
}

.container__thin {
  width: 100%;
  margin: 0px auto;
  height: $second__section__height;
  //padding: 0 $spacing-main;
  .row {
   // margin-left: -$spacing-main;
   // margin-right: -$spacing-main;
    [class*="col-"] {
     // padding: 0 $spacing-main;
    }
    @include grid(12);
  }
}
.container__normal {
  margin: 0px auto;
  height: $container__normal__height;
  //padding: 0 $spacing-main;
  .row {
    height: $container__normal__height;
    // margin-left: -$spacing-main;
    // margin-right: -$spacing-main;
    [class*="col-"] {
      // padding: 0 $spacing-main;
    }
    @include grid(20);
  }
}
