@mixin grid($cols) {
  //@include tablet {
    display: flex;
    //flex-wrap: wrap;
    @for $i from 1 through $cols {
      .col-#{$i} {
        flex: 0 0 (100% / $cols) * $i;
      }
    }
  //}
}
.container__thin {
  width: 100%;
  margin: 0px auto;
  height: $second__section__height;
  .row {
    [class*="col-"] {
    }
    @include grid(12);
  }
}
.container__last {
  width: 100%;
  margin: 0px auto;
  height: $last__section__height;
  .row {
    [class*="col-"] {
    }
    @include grid(12);
  }
}
.container__normal {
  margin: 0px auto;
  padding: 18.5px 0;
  .row {
    height: $container__normal__height;
    [class*="col-"] {
      height: $container__normal__height;
      display: flex;
      align-items: center;
    }
    @include grid(20);
  }
}
.container__big{
  margin: 0px auto;
  width: 100%;
  height: $container__big__height;
  .row {
    width: 100%;
    [class*="col-"] {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include grid(12);
  }
}