@mixin third-section-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  max-width: 416px;
  margin-left: 35px;
}
@mixin line-content{
  content: "";
  height: 4px;
  width: 340px;
}
@mixin section-title{
  font-family: var(--Raleway-font);
  font-size: 36px;
  color: #000000;
}