$second__section__height: 531px;

$container__normal__width: 1124px;
$container__normal__height: 370px;
$element__margin__value: 70px;

$container__big__height: 616px;
$container__big__width: 1266px;

$last__section__height: 400px;

$desktop: 600px;